@page
@model ContosoUniversity.Pages.Login.ManagerLoginModel
@{
    ViewBag.Title = "Loginmanager";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Login Form</h3>
    <form method="post" asp-page="Loginmanager">
        <table>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="submitchoice" value="LoginAsManager" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="submitchoice" value="LoginAsEmployee" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
