@page
@model Teamber.Pages.Login.ManagerLoginModel
@{
    ViewBag.Title = "Loginmanager";

}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Teamber</title>
</head>

<!DOCTYPE html>
<style>
    header {
        display: none;
    }

    footer {
        display: none;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class=" fade-in" style="background-color: #ecf0f1;">
    <div class="row row-cols-3">
        <div class="col"> </div>
        <div class="col border padTwo darkBG dropShadow" style="margin-top: 20%; background-color: #27ae60;">
            <div class="text-center">
                <!--  <h3><b>Teamber</b></h3>-->
                <img src="~/img/logo.png" />
                <h6 style="padding-top: 16px; color: white;">Login as manager or employee</h6>
            </div><br>
            <div>
                <form method="post" asp-page="Loginmanager">
                    <div class="text-center">
                        <input class="btn btn-outline-light buttonPad" style="margin: 5px; border: 1px solid white; background-color: transparent;" type="submit" name="submitchoice" value="Manager" />
                        <input class="btn btn-outline-light buttonPad" style="margin: 5px; border: 1px solid white; background-color: transparent;" type="submit" name="submitchoice" value="Employee" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col"> </div>
    </div>
</body>
</html>
