@page
@model ContosoUniversity.DetailsModel

@{
    ViewData["Title"] = "Details";
    if (String.IsNullOrEmpty(Model.Login) || String.IsNullOrEmpty(Model.Manager))
                Response.Redirect("/Login/Login");
}

<h1>Details</h1>
<div>
    <h4>Questionnaire</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questionnaire.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Questionnaire.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questionnaire.QuestionnaireCompetences)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Competences</th>
                </tr>
                @foreach (var item in Model.Questionnaire.QuestionnaireCompetences)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Competence)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>

