@page
@model ContosoUniversity.Pages.Questionnaires.EditModel

@{
    ViewData["Title"] = "Edit";
    if (String.IsNullOrEmpty(Model.Login) || String.IsNullOrEmpty(Model.Manager))
                Response.Redirect("/Login/Login");
}

    <body class="fade-in">
        <br>
        <div class="container removePad" style="padding-bottom: 1%">
            <div class="row row-cols-3">
                <div class="col-3">
                    &#8205;
                </div>
                <div class="col-6">
                    <h2 class="padTwoTop">Edit Questionnaire</h2>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Questionnaire.QuestionnaireID" />
                                <div class="form-group">
                                    <label asp-for="Questionnaire.Title" class="control-label"></label>
                                    <input asp-for="Questionnaire.Title" class="form-control" />
                                    <span asp-validation-for="Questionnaire.Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Questionnaire.Cycle" class="control-label"></label>
                                    <input asp-for="Questionnaire.Cycle" class="form-control" />
                                    <span asp-validation-for="Questionnaire.Cycle" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Add new competences to test for</label>
                                    <input asp-for="Questionnaire.CompetencesString" class="form-control" />
                                    <span asp-validation-for="Questionnaire.CompetencesString" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Competences to test for</label>
                                    <div class="table">
                                        <table>
                                            <tr>
                                                @{
                                                    int cnt = 0;

                                                    foreach (var competence in Model.AssignedQuestionnaireCompetenceDataList)
                                                    {
                                                        if (cnt++ % 3 == 0)
                                                        {
                                                        @:</tr><tr>
                                                        }
                                                        @:<td>
                                                            <input type="checkbox"
                                                                   name="selectedQuestionnaireCompetences"
                                                                   value="@competence.QuestionnaireCompetenceID" />
                                                            @competence.Competence
                                                        @:</td>
                                                    }
                                                @:</tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display: inline; margin-right: 20px;">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                    <button type="button" class="btn btn-success" style="background-color: red; border-color: red;">
                                        <a asp-page="./Delete" asp-route-id="@Model.Questionnaire.QuestionnaireID" style="color: white;">Delete</a>
                                    </button>
                                </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            &#8205;
                        </div>
                    </div>
                </div>
                <br><br><br><br>
                <footer id="sticky-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
                    <div class="container text-center">
                        <small>Copyright &copy; Teamber 2020</small>
                    </div>
                </footer>
            </body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
