@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
    //Removes defualt styling:
    Layout = null;
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <title>Teamber</title>
</head>

<body class="fade-in bg-light">
    <div class="container bg-light dropShadow">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">Teamber</a>
            <button class="btn btn-outline-secondary my-2 my-sm-0" onclick="window.location.href = 'Login/Login';">Login</button>
        </nav>
    </div>

    <section class="py-5 bg-image-full" style="background-image: url('https://picsum.photos/1920/1080');">
        <div style="height: 40em;" class=""></div>
    </section>

    <div class="container removePad" style="padding-bottom: 1%">
        <div class="row">
            <div class="col-xl" align="center">
                <h2 class="padTwoTop">Headline</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm padTwoTop" align="center">
                <img src="https://picsum.photos/350" class="rounded dropShadow">
                <h4 class="padThreeTop">
                    Smaller Headline</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="col-sm padTwoTop" align="center">
                <img src="https://picsum.photos/350" class="rounded dropShadow">
                <h4 class="padThreeTop">
                    Smaller Headline</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="col-sm padTwoTop" align="center">
                <img src="https://picsum.photos/350" class="rounded dropShadow">
                <h4 class="padThreeTop">
                    Smaller Headline</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
        </div>
    </div>

    <footer id="sticky-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
        <div class="container text-center">
            <small>Copyright &copy; Teamber 2020</small>
        </div>
    </footer>
</body>
</html>

